* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	color: black;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: white;
}

header {
	background-color: gray;
}

footer {
	display: flex;
	justify-content: space-around;
	padding: 2em;
	border-top: 1px solid #ca3415;
	background-color: darkgray;
}

main {
	display: flex;
	background-color: white;
}

#nav-bar {
	display: flex;
	width: 100%;
	padding: 1em;
	justify-content: space-between;
	align-items: center;
	background-color: lightgray;
} 

#banner {
	display: flex;
	align-items: flex-end;
	background-image: url("../images/pexels-photo-675951.jpeg");
	height: 150px;
	background-size: 100%;
	background-position: center, center;
	background-repeat: no-repeat;
	border-top: 1px solid #ca3415;
	border-bottom: 1px solid darkgray;
}


#banner h1 {
	font-size: 5em;
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	line-height: 0.8em;
	user-select: none;
}

h2.logo {
	text-shadow: 1px 1px 3px gray;
	font-size: 2em;
	user-select: none;
}

footer article h4 {
	color: #ca3415;
	margin-bottom: 0.5em;
}

#orders {
	background-color: lightgray;
	width: 70%;
}

#orders article img {
	margin-right: 0.5em;
	float:left;
	width: 160px;
	height: 120px;
	background-color: white;
}

#orders article ul li {
	overflow: auto;
	list-style: none;
	border-bottom: 1px solid darkgray;
}

#orders article ul li:last-child {
	border-bottom: 0;
}

#nav-menu ul, #category-menu ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#nav-menu ul li, #category-menu ul li {
	font-size: 1.2em;
	list-style: none;
	user-select: none;
}

#nav-menu ul li {
	padding-right: 3em;
}

#category-menu ul {
	flex-grow: 1;
	height: 3em;
	background-color: darkgray;
	align-items: center;
}

#category-menu ul li:hover {
	color: white;
	cursor: pointer;
}

#category-menu ul li.selected {
	color: white;
}

#login {
	background-color: white;
	padding: 2em;
	width: 100%;
}

#login form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login label, input {
	min-width: 250px;
}

#login label {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

#login input {
	height: 1.5em;
	font-size: 1em;
}

#login button {
	background-color: #ca661a;
	border-color: #ca3415;
	border-radius: 0.5em;
	margin: 2em;
	height: 3em;
	width: 100px;
	color: white;
	font-size: 0.8em;
}

