* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	color: black;
	background-color: darkgray;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ca3415;
}

a:hover {
	text-decoration: none;
	color: #cc661a;
}

main {
	display: flex;
	background-color: white;
}

footer {
	display: flex;
	justify-content: space-around;
	padding: 2em;
	border-top: 1px solid #ca3415;
	background-color: darkgray;
}

#nav-bar {
	display: flex;
	padding: 1em;
	justify-content: space-between;
	align-items: center;
	background-color: lightgray;
	border-bottom: 1px solid #ca3415;
} 

#banner {
	display: flex;
	align-items: flex-end;
	background-image: url("../images/pexels-photo-675951.jpeg");
	height: 150px;
	background-size: 100%;
	background-position: center, center;
	background-repeat: no-repeat;
	border-top: 1px solid #ca3415;
	border-bottom: 1px solid darkgray;
}


#banner h1 {
	font-size: 5em;
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	line-height: 0.8em;
	user-select: none;
}

h2.logo {
	text-shadow: 1px 1px 3px gray;
	font-size: 2em;
	user-select: none;
}

article.information h4 {
	color: #ca3415;
	margin-bottom: 0.5em;
}

#main-menu {
	background-color: lightgray;
	width: 70%;
}

#main-menu article figure {
	margin-right: 0.5em;
	float: left;
	width: 160px;
	height: 120px;
	background-color: white;
	background-size: cover;
}

#main-menu article ul li {
	overflow: auto;
	border-bottom: 1px solid darkgray;
}

#main-menu article ul li:last-child {
	border-bottom: 0;
}

#main-menu article h3 {
	cursor: pointer;
	margin: 0.5em;
}

#main-menu article p {

}


#nav-menu ul, #category-menu ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

#nav-menu ul li, #category-menu ul li {
	font-size: 1.2em;
	user-select: none;
	padding: 0.5em;
}

#nav-menu ul li a {
	display: inline-block;
	padding: 0 1em;
	color: black;
}

#nav-menu ul li a:hover {
	color: white;
}

#category-menu ul {
	flex-grow: 1;
	background-color: darkgray;
	align-items: center;
}

#category-menu ul li:hover {
	color: white;
	cursor: pointer;
}

#category-menu ul li.selected {
	color: white;
}

#location {
	height: 500px;
}

#users {
	padding: 2em;
	width: 100%;
}

#users form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#users label, input {
	min-width: 250px;
}

#users label {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

#users input {
	height: 2em;
	font-size: 1em;
}

#users button {
	background-color: #ca661a;
	border-color: #ca3415;
	border-radius: 0.5em;
	padding: 0 2em;
	margin: 2em;
	height: 3em;
	color: white;
	font-size: 1em;
}

#modal {
	position: fixed;
	z-index: 1;
	border: 0px;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

#modal .body {
	display: flex;
	padding-top: 15vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation-name: modal-animate;
	animation-duration: 0.5s
}

#modal .header {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	width: 50%;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 1.5em;
}

#modal .main {
	overflow: auto;
	width: 50vw;
	height: 50vh;
	background-color: lightgray;
	padding: 10px 15px;
}

#modal .footer {
	width: 50%;
	padding: 10px 15px;
	background-color: black;
	color: white;
	text-align: right;
}

#modal .close:hover {
	color: #cc661a;
	user-select: none;
	cursor: pointer;
}

@keyframes modal-animate {
	from {opacity:0}
	to {opacity:1}
}

#modal .review-content {
	margin-bottom: 1em;
} 

#modal .review-content:last-of-type {
	margin-bottom: 0;
} 

